/* GENERAL */

/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@3000;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/* CSS Variables */
:root {
  /* Light Mode Variables */
  --primary-color: #fff;
  --primary-color-light: #fafafa;
  --primary-color-dark: #b5b5b5;
  --background-color: #fff;
  --secondary-color: #2d005f;
  --secondary-color-dark: #211327;
  --button-background: #353535;
  --button-text-hover: #808080;
  --button-border: 0.1rem solid #2d005f;
  --button-border-light: 0.1rem solid #fff;
  --container-border: #2d005f;
  --icon-inverted-color: #000;
  --scroll-indicator-filter: invert(0%);

  /* Dark Mode Variables */
  --dark-primary-color: #1d1d1d;
  --dark-primary-color-light: #272727;
  --dark-primary-color-dark: #4a4a4a;
  --dark-background-color: #212121;
  --dark-secondary-color: #fff;
  --dark-secondary-color-light: #cdcdcd;
  --dark-button-background: #cacaca;
  --dark-button-text-hover: #d3d3d3;
  --dark-button-border: 0.1rem solid #9132dc;
  --dark-button-border-light: 0.1rem solid #000;
  --dark-container-border: #9132dc;
  --dark-icon-inverted-color: #fff;
  --dark-scroll-indicator-filter: invert(100%);
}

/* Dark Mode Specific Styles */
[theme="dark"] {
  --primary-color: var(--dark-primary-color);
  --primary-color-light: var(--dark-primary-color-light);
  --primary-color-dark: var(--dark-primary-color-dark);
  --background-color: var(--dark-background-color);
  --secondary-color: var(--dark-secondary-color);
  --secondary-color-dark: var(--dark-secondary-color-light);
  --button-background: var(--dark-button-background);
  --button-text-hover: var(--dark-button-text-hover);
  --button-border: var(--dark-button-border);
  --button-border-light: var(--dark-button-border-light);
  --container-border: var(--dark-container-border);
  --icon-inverted-color: var(--dark-icon-inverted-color);
  --scroll-indicator-filter: var(--dark-scroll-indicator-filter);
}

/* Base Element Styles */
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow: hidden; /* Prevent scrolling while splash is visible */
}

#splash-screen.hide + body {
  overflow: auto; /* Allow scrolling after splash screen is hidden */
}

/* Splash Screen Styles */
#splash-screen {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#splash-screen.hide {
  opacity: 0;
  visibility: hidden;
}

/* Typography Styles */
h3, p {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color-dark);
}

h3 {
  color: var(--secondary-color);
}

p {
  font-size: 1.2rem;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links a {
  color: var(--secondary-color);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  padding: 0.25rem 0;
  display: inline-block;
  box-sizing: border-box;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

nav a:hover {
  color: var(--secondary-color);
}

.nav-links li:last-child {
  display: flex;
  align-items: center;
}

#modeToggle {
  cursor: pointer;
  padding: 0.25rem;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  color: var(--secondary-color);
}

/* Hamburger Menu Styles */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  z-index: 2;
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  color: var(--secondary-color);
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger-icon.open span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* Menu Links Styles */
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primary-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 10px;
  opacity: 0;
  padding: 0;
}

.menu-links.open {
  border: 0.3px solid var(--container-border);
  max-height: 300px;
  padding: 1rem;
  opacity: 1;
}

.menu-links:not(.open) {
  border: none;
  padding: 0;
}

.menu-links a {
  position: relative;
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  overflow: hidden;
  transition: color 0.3s ease;
}

.menu-links a::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.menu-links a:hover::after {
  transform: scaleX(1);
}

.menu-links a:hover {
  color: var(--secondary-color);
}

.menu-links li {
  list-style: none;
}

/* Section Styles */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  position: relative;
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Profile Section Styles */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 80vh;
  position: relative;
}

#profile .lottie-container {
  width: 1000px;
  height: 1000px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1,
.section__text__p2 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  color: var(--secondary-color);
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  z-index: 1;
}

#socials-container a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: transform 0.3s ease;
  padding: 10px;
  position: relative;
  z-index: 1000;
  pointer-events: auto;
}

#socials-container a:hover {
  transform: scale(1.1);
}

#socials-container a i {
  pointer-events: none;
}

.icons {
  color: var(--secondary-color);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons:hover {
  color: var(--secondary-color);
}

.icon {
  cursor: pointer;
  height: 2rem;
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--secondary-color);
}

/* Profile Section Icon Styles */
#profile .icon {
  height: 3rem;
  color: var(--icon-inverted-color);
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

#profile .icon:hover {
  transform: scale(1.1);
  color: var(--secondary-color);
}

/* Button Styles */
.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  z-index: -1;
  transition: transform 0.5s ease;
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn:hover::after {
  transform: scaleY(1);
}

.btn-color-1,
.btn-color-2 {
  border: var(--button-border);
  color: var(--secondary-color-dark);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn-color-1:hover::after,
.btn-color-2:hover::after {
  transform: scaleY(1);
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--button-background);
  color: var(--primary-color);
}

.btn-color-1:hover {
  background: var(--secondary-color);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: var(--button-border);
  background: var(--secondary-color);
}

/* About Section Styles */
#about {
  position: relative;
}

#about .lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-containers {
  gap: 2rem;
  margin: 2rem 0;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

/* Arrow Icon Styles */
.arrow {
  font-size: 4rem;
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--icon-inverted-color);
}

.arrow:hover {
  transform: scale(1.5);
  color: var(--secondary-color);
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--primary-color-light);
  border-radius: 2rem;
  border: var(--button-border);
  border-color: var(--container-border);
  text-align: center;
}

/* Experience Section Styles */
#experience {
  position: relative;
  margin-top: 2rem;
}

.experience-sub-title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  padding: 1rem;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 0.5rem);
  min-width: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: translateY(-5px);
}

article .icon {
  cursor: default;
}

article div {
  text-align: center;
}

/* Projects Section Styles */
#projects {
  position: relative;
}

.color-container {
  border-color: var(--container-border);
  background: var(--primary-color-light);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--secondary-color);
}

.project-btn {
  color: var(--secondary-color);
  border-color: var(--container-border);
}

/* Contact Section Styles */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  text-align: center;
  background-color: var(--background-color);
  color: var(--secondary-color-dark);
  margin-top: 1.4rem;
}

#contact .lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: var(--button-border);
  border-color: var(--container-border);
  background: var(--background-color);
  margin: 2rem auto;
  padding: 1rem;
  flex-direction: column;
  color: var(--secondary-color-dark);
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.contact-item:hover {
  transform: scale(1.1);
}

.contact-item .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

.contact-item:hover .icons {
  background-color: var(--secondary-color);
}

.contact-item .icons i {
  font-size: 1.5rem;
  color: var(--icon-inverted-color);
  transition: color 0.3s ease;
}

.contact-item:hover .icons i {
  color: var(--primary-color);
}

.contact-item p {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.contact-item:hover p {
  color: var(--secondary-color);
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* Footer Section Styles */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  z-index: 10;
}

.dropdown-toggle {
  background-color: var(--button-background);
  color: var(--secondary-color);
  border: var(--button-border);
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: background-color 300ms ease, color 300ms ease;
}

.dropdown-toggle:hover {
  background-color: var(--button-text-hover);
  color: var(--primary-color);
}

/* Dropdown Menu Styles */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color-light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 11;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  border: var(--button-border);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  transform: translateY(-10px);
}

.dropdown-content.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
}

.dropdown-content a:not(:last-child) {
  border-bottom: 1px solid var(--primary-color-dark);
}

.dropdown-content a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Flag Icon Styles */
.flag-icon {
  width: 24px;
  height: auto;
  margin-right: 12px;
  vertical-align: middle;
}

/* Animation Keyframes */
@keyframes wave-animation {
  0%, 60%, 100% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
}

/* Animation Classes */
.wave {
  z-index: 1;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.animated.visible {
  opacity: 1;
  transform: translateY(0);
}

#email-container {
  position: relative;
  display: inline-block;
}

#email-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  z-index: 1000;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
  border: 2px solid var(--container-border);
  margin-bottom: 10px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--container-border) transparent transparent transparent;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: var(--secondary-color) transparent transparent transparent;
}

@keyframes pulse {
  0% { transform: translateX(-50%) translateY(0) scale(1); }
  50% { transform: translateX(-50%) translateY(0) scale(1.05); }
  100% { transform: translateX(-50%) translateY(0) scale(1); }
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  animation: pulse 0.5s ease-in-out;
}

#email-link {
  position: relative;
}

.animated.not-visible {
  opacity: 0.5;
  transform: translateY(10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.not-visible {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Scroll Indicator Styles */
.scroll-indicator-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.scroll-indicator {
  cursor: pointer;
  width: 70px;
  height: 70px;
  filter: var(--scroll-indicator-filter);
  transition: filter 0.3s ease;
}

.scroll-indicator dotlottie-player {
  width: 100%;
  height: 100%;
}

/* Ensure the parent container is positioned relative */
section {
  position: relative;
}

.section {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  visibility: hidden;
}

.section.visible {
  visibility: visible;
}

#about.animated.visible {
  animation: slideInFromRight 1s ease-out forwards;
}

#experience.animated.visible {
  animation: fadeInUp 1s ease-out forwards;
}

/* Back to Top Button Styles */
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--container-border);
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top i {
  font-size: 1.5rem;
}

.back-to-top:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}